.items_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    text-align: left;
    float: left;
}

.box {
    width: 140px;
    height: 200px; 
    margin: 6px 3px 6px 3px;  
    border: 2.5px solid transparent;
    border-radius: 6px;
    transition: all ease-in-out .5s, opacity 2s; 
    /* display: none;  */
}

.box-undefined {
    width: 140px;
    height: 200px; 
    margin: 8px 5px 8px 5px;  
    border: 2.5px solid transparent;
    border-radius: 6px;
    background-color: white;
    transition: all ease-in-out .5s, opacity 2s; 
    /* display: none;  */
}

.box:hover {
    border: 2.5px solid #0055ff; 
}

.box-undefined:hover {
    border: 2.5px solid #ff0000; 
}